@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.grid-background {
  background-size: 40px 40px;
  background-image: radial-gradient(
    circle at center,
    rgba(2, 2, 2, 0.15) 1px,
    transparent 1px
  );
  animation: grid-fade 10s ease-in-out infinite;
}

@keyframes grid-fade {
  0% {
    background-position: 0px 20px;
  }
  100% {
    background-position: 40px 20px;
  }
}
